@{
    ViewBag.Title = "OrderSearch_DCs";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Viewer</title>
    <link href="~/source/assets/css/queryItem.css" rel="stylesheet" />
    <link href="~/source/assets/css/comfirm.css" rel="stylesheet" />
    <link href="~/source/assets/css/viewer.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Content -->
        @*<div class="docs-pictures clearfix">
             <img data-original="images/tibet-1.jpg"  style="width: 60px; height: 30px; display: block; position: absolute; top: 0; left: 0; opacity: 0; " src="http://www.arapnet.com/lcimg//11/37/11_37_20190524091717_XloenQ.jpg" alt="Cuo Na Lake">查看回单
             <img data-original="images/tibet-1.jpg" style=" display: none; " src="http://www.arapnet.com/lcimg//11/37/11_37_20190524091717_XloenQ.jpg" alt="Cuo Na Lake">
             <img data-original="images/tibet-2.jpg" style=" display: none; " src="http://www.arapnet.com/lcimg//11/37/11_37_20190522202033_ILaNZy.jpg" alt="Tibetan Plateau">
             <img data-original="images/tibet-3.jpg" style=" display: none; " src="http://www.arapnet.com/lcimg//11/37/11_37_20190522202026_O0YTiR.jpg" alt="Jokhang Temple">
         </div>*@
        @* <div class="container">
             <div class="row">
                 <div class="col-sm-8 col-md-6">
                     <h3 class="page-header"></h3>
                     <div class="docs-galley">
                         <ul class="docs-pictures clearfix">
                             <li style="display:none"><img data-original="images/tibet-1.jpg" src="http://www.arapnet.com/lcimg//11/37/11_37_20190524091717_XloenQ.jpg" alt="Cuo Na Lake"></li>
                             <li style="display:none"><img data-original="images/tibet-2.jpg" src="http://www.arapnet.com/lcimg//11/37/11_37_20190522202033_ILaNZy.jpg" alt="Tibetan Plateau"></li>
                             <li style="display:none"><img data-original="images/tibet-3.jpg" src="http://www.arapnet.com/lcimg//11/37/11_37_20190522202026_O0YTiR.jpg" alt="Jokhang Temple"></li>
                             <li style="display:none"><img data-original="images/tibet-4.jpg" src="http://www.arapnet.com/lcimg//11/37/11_37_20190518160652_QjrWkg.jpg" alt="Potala Palace 1"></li>
                             <li style="display:none"><img data-original="images/tibet-5.jpg" src="http://www.arapnet.com/lcimg//11/37/11_37_20190515162146_aoVv9j.jpg" alt="Potala Palace 2"></li>
                             <li style="display:none"><img data-original="images/tibet-6.jpg" src="http://www.arapnet.com/lcimg//11/37/11_37_20190515162140_37fD46.jpg" alt="Potala Palace 3"></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
         <script type="text/javascript" src="~/source/assets/js/jquery-1.11.3.min.js"></script>
         <script type="text/javascript" src="~/source/assets/js/viewer.min.js"></script>
         <script>

                 $('.docs-pictures').viewer("data-original");

         </script>*@

    <style>
        .cssname {
            width: 60px;
            height: 30px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    </style>

    <div class="lcQueryItem">
        <div class="lcItem" dataid="4" storageid="23">
            <div class="lcItem_t">
                <div class="lcCheckDiv">
                    <input type="checkbox" class="checkbox" value="4" />
                </div>
                <div class="lcItem_t_l">
                    <div class="lcDivList">
                        <div>
                            <p>订单编号</p>
                            <h5>20192220042229</h5>
                        </div>
                        <div>
                            <p>下单时间</p>
                            <h5>2019/5/20</h5>
                        </div>
                        <div>
                            <p>送货时间</p>
                            <h5>2019/5/20</h5>
                        </div>
                    </div>


                    <div class="lcDivList">
                        <div title="蒙牛冰淇淋提货点">
                            <p>收货方</p>
                            <h5>蒙牛冰淇淋提货点</h5>
                        </div>
                        <div>
                            <p>收货人</p>
                            <h5>万小兰</h5>
                        </div>
                        <div title="联系方式：17302128658">
                            <p>联系方式</p>
                            <h5>17302128658</h5>
                        </div>
                    </div>
                    <div class="lcDivList">
                        <div title="上海市青浦区练塘镇芦潼路369号">
                            <p>配送地址</p>
                            <h5>上海市青浦区练塘镇芦潼路369号</h5>
                        </div>
                        <div title="上海畅睿国际物流有限公司">
                            <p>承运商</p>
                            <h5>上海畅睿国际物流有限公司</h5>
                        </div>
                    </div>


                    <div class="lcDivList">
                        <div title="">
                            <p>备注</p>
                            <h5></h5>
                        </div>
                        <div>
                            <p>温区</p>
                            <h5>恒温</h5>
                        </div>
                        <div>
                            <p>订单属性</p>
                            <h5>CPDD</h5>
                        </div>
                    </div>
                    <div class="lcDivList">
                        <div>
                            <p>合并编号</p>
                            <h5></h5>
                        </div>
                        <div>
                            <p>制单人</p>
                            <h5></h5>
                        </div>
                        <div title="2019-05-15 17:31:11">
                            <p>制单时间</p>
                            <h5>2019/5/20 16:24:25</h5>
                        </div>
                    </div>
                </div>
                <div class="lcItem_t_r">
                    <div class="lcItem_t_r_l">
                        <div>
                            <p>订单归属</p>
                            <h5>上海申雪供应链管理有限公司</h5>
                        </div>
                        <div>
                            <p>发货仓库</p>
                            <h5>上海力橙</h5>
                        </div>
                        <div>
                            <p>订单状态</p>
                            <h5>0</h5>
                        </div>
                        <input type="hidden" id="AttachmentIDs" name="AttachmentIDs">
                    </div>
                    <div class="lcItem_t_r_btnList">
                        <div class="showDiv" isok="true">
                            订单详情
                        </div>
                        <div class="查看回单" id="showImage">
                            订单详情
                        </div>
                    </div>
                </div>
            </div>


            <div class="lcItem_b">
                <table>
                    <thead>
                        <tr>
                            <th>项次</th>
                            <th>商品编号</th>
                            <th>名称</th>
                            <th>规格</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>重量</th>
                            <th>批次号</th>
                            <th>生产日期</th>
                            <th>到期日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0++</td>
                            <td>0</td>
                            <td>冰淇淋</td>
                            <td>0</td>
                            <td>1</td>
                            <td>箱</td>
                            <td>5</td>
                            <td>123</td>
                            <td>2019/5/20</td>
                            <td>2019/5/20</td>
                        </tr>
                        <tr>
                            <td>1++</td>
                            <td>0</td>
                            <td>牛肉</td>
                            <td>0</td>
                            <td>1</td>
                            <td>箱</td>
                            <td>10</td>
                            <td>456</td>
                            <td>2019/5/20</td>
                            <td>2019/5/20</td>
                        </tr>
                        <tr>
                            <td>2++</td>
                            <td>SD-130202047</td>
                            <td>圆泡椒（山里人）</td>
                            <td>1.4kg/瓶</td>
                            <td>2</td>
                            <td>瓶</td>
                            <td>1.4</td>
                            <td>789</td>
                            <td>2019/5/20</td>
                            <td>2019/5/20</td>
                        </tr>
                    </tbody>
                </table>
                <div class="lcItem_b_b">
                    <div class="lcItem_b_bDivItem">
                        <div>
                            运费应收:
                            <span>0.00</span>
                        </div>
                        <div>
                            装卸应收:
                            <span>0.00</span>
                        </div>
                        <div>
                            分拣应收:
                            <span>0.00</span>
                        </div>
                        <div>
                            运费应付:
                            <span>0.00</span>
                        </div>
                        <div>
                            装卸应付:
                            <span>0.00</span>
                        </div>
                        <div>
                            分拣应付:
                            <span>0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lcItem" dataid="5" storageid="23">
            <div class="lcItem_t">
                <div class="lcCheckDiv">
                    <input type="checkbox" class="checkbox" value="5" />
                </div>
                <div class="lcItem_t_l">
                    <div class="lcDivList">
                        <div>
                            <p>订单编号</p>
                            <h5>20193620073618</h5>
                        </div>
                        <div>
                            <p>下单时间</p>
                            <h5>2019/5/20</h5>
                        </div>
                        <div>
                            <p>送货时间</p>
                            <h5>2019/5/20</h5>
                        </div>
                    </div>


                    <div class="lcDivList">
                        <div title="蒙牛冰淇淋提货点">
                            <p>收货方</p>
                            <h5>蒙牛冰淇淋提货点</h5>
                        </div>
                        <div>
                            <p>收货人</p>
                            <h5>万小兰</h5>
                        </div>
                        <div title="联系方式：17302128658">
                            <p>联系方式</p>
                            <h5>17302128658</h5>
                        </div>
                    </div>
                    <div class="lcDivList">
                        <div title="上海市青浦区练塘镇芦潼路369号">
                            <p>配送地址</p>
                            <h5>上海市青浦区练塘镇芦潼路369号</h5>
                        </div>
                        <div title="上海畅睿国际物流有限公司">
                            <p>承运商</p>
                            <h5>上海畅睿国际物流有限公司</h5>
                        </div>
                    </div>


                    <div class="lcDivList">
                        <div title="11111">
                            <p>备注</p>
                            <h5>11111</h5>
                        </div>
                        <div>
                            <p>温区</p>
                            <h5>恒温</h5>
                        </div>
                        <div>
                            <p>订单属性</p>
                            <h5>CPDD</h5>
                        </div>
                    </div>
                    <div class="lcDivList">
                        <div>
                            <p>合并编号</p>
                            <h5></h5>
                        </div>
                        <div>
                            <p>制单人</p>
                            <h5></h5>
                        </div>
                        <div title="2019-05-15 17:31:11">
                            <p>制单时间</p>
                            <h5>2019/5/20 19:36:45</h5>
                        </div>
                    </div>
                </div>
                <div class="lcItem_t_r">
                    <div class="lcItem_t_r_l">
                        <div>
                            <p>订单归属</p>
                            <h5>上海申雪供应链管理有限公司</h5>
                        </div>
                        <div>
                            <p>发货仓库</p>
                            <h5>上海力橙</h5>
                        </div>
                        <div>
                            <p>订单状态</p>
                            <h5>0</h5>
                        </div>
                        <input type="hidden" id="AttachmentIDs" name="AttachmentIDs">
                    </div>
                    <div class="lcItem_t_r_btnList">
                        <div class="showDiv" isok="true">
                            订单详情
                        </div>
                    </div>
                </div>
            </div>


            <div class="lcItem_b">
                <table>
                    <thead>
                        <tr>
                            <th>项次</th>
                            <th>商品编号</th>
                            <th>名称</th>
                            <th>规格</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>重量</th>
                            <th>批次号</th>
                            <th>生产日期</th>
                            <th>到期日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0++</td>
                            <td>0100002</td>
                            <td>冰淇淋</td>
                            <td>30*30*45</td>
                            <td>11</td>
                            <td>箱</td>
                            <td>5</td>
                            <td>123</td>
                            <td>2019/5/20</td>
                            <td>2021/5/20</td>
                        </tr>
                        <tr>
                            <td>1++</td>
                            <td>0100001</td>
                            <td>牛肉</td>
                            <td>30*60*60</td>
                            <td>12</td>
                            <td>箱</td>
                            <td>10</td>
                            <td>456</td>
                            <td>2019/5/20</td>
                            <td>2021/5/20</td>
                        </tr>
                        <tr>
                            <td>2++</td>
                            <td>SD-130202047</td>
                            <td>圆泡椒（山里人）</td>
                            <td>1.4kg/瓶</td>
                            <td>13</td>
                            <td>瓶</td>
                            <td>1.4</td>
                            <td>789</td>
                            <td>2019/5/20</td>
                            <td>2021/5/20</td>
                        </tr>
                    </tbody>
                </table>
                <div class="lcItem_b_b">
                    <div class="lcItem_b_bDivItem">
                        <div>
                            运费应收:
                            <span>1.00</span>
                        </div>
                        <div>
                            装卸应收:
                            <span>3.00</span>
                        </div>
                        <div>
                            分拣应收:
                            <span>5.00</span>
                        </div>
                        <div>
                            运费应付:
                            <span>2.00</span>
                        </div>
                        <div>
                            装卸应付:
                            <span>4.00</span>
                        </div>
                        <div>
                            分拣应付:
                            <span>6.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lcItem" dataid="6" storageid="23">
            <div class="lcItem_t">
                <div class="lcCheckDiv">
                    <input type="checkbox" class="checkbox" value="6" />
                </div>
                <div class="lcItem_t_l">
                    <div class="lcDivList">
                        <div>
                            <p>订单编号</p>
                            <h5>20193820073829</h5>
                        </div>
                        <div>
                            <p>下单时间</p>
                            <h5>2019/5/20</h5>
                        </div>
                        <div>
                            <p>送货时间</p>
                            <h5>2019/5/20</h5>
                        </div>
                    </div>


                    <div class="lcDivList">
                        <div title="蒙牛冰淇淋提货点">
                            <p>收货方</p>
                            <h5>蒙牛冰淇淋提货点</h5>
                        </div>
                        <div>
                            <p>收货人</p>
                            <h5>万小兰</h5>
                        </div>
                        <div title="联系方式：17302128658">
                            <p>联系方式</p>
                            <h5>17302128658</h5>
                        </div>
                    </div>
                    <div class="lcDivList">
                        <div title="上海市青浦区练塘镇芦潼路369号">
                            <p>配送地址</p>
                            <h5>上海市青浦区练塘镇芦潼路369号</h5>
                        </div>
                        <div title="上海畅睿国际物流有限公司">
                            <p>承运商</p>
                            <h5>上海畅睿国际物流有限公司</h5>
                        </div>
                    </div>


                    <div class="lcDivList">
                        <div title="">
                            <p>备注</p>
                            <h5></h5>
                        </div>
                        <div>
                            <p>温区</p>
                            <h5>恒温</h5>
                        </div>
                        <div>
                            <p>订单属性</p>
                            <h5>YSDDA</h5>
                        </div>
                    </div>
                    <div class="lcDivList">
                        <div>
                            <p>合并编号</p>
                            <h5></h5>
                        </div>
                        <div>
                            <p>制单人</p>
                            <h5></h5>
                        </div>
                        <div title="2019-05-15 17:31:11">
                            <p>制单时间</p>
                            <h5>2019/5/20 19:38:57</h5>
                        </div>
                    </div>
                </div>
                <div class="lcItem_t_r">
                    <div class="lcItem_t_r_l">
                        <div>
                            <p>订单归属</p>
                            <h5>上海山地供应链管理有限公司</h5>
                        </div>
                        <div>
                            <p>发货仓库</p>
                            <h5>蒙牛冰淇淋提货点</h5>
                        </div>
                        <div>
                            <p>订单状态</p>
                            <h5>0</h5>
                        </div>
                        <input type="hidden" id="AttachmentIDs" name="AttachmentIDs">
                    </div>
                    <div class="lcItem_t_r_btnList">
                        <div class="showDiv" isok="true">
                            订单详情
                        </div>

                    </div>
                </div>
            </div>


            <div class="lcItem_b">
                <table>
                    <thead>
                        <tr>
                            <th>项次</th>
                            <th>商品编号</th>
                            <th>名称</th>
                            <th>规格</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>重量</th>
                            <th>批次号</th>
                            <th>生产日期</th>
                            <th>到期日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0++</td>
                            <td>SD-130202047</td>
                            <td>圆泡椒（山里人）</td>
                            <td>1.4kg/瓶</td>
                            <td>13</td>
                            <td>瓶</td>
                            <td>1.4</td>
                            <td>123</td>
                            <td>2019/5/20</td>
                            <td>2021/5/20</td>
                        </tr>
                        <tr>
                            <td>1++</td>
                            <td>SD-130202042</td>
                            <td>泡小米辣</td>
                            <td>2kg/包</td>
                            <td>11</td>
                            <td>包</td>
                            <td>2</td>
                            <td>321</td>
                            <td>2019/5/20</td>
                            <td>2021/5/20</td>
                        </tr>
                        <tr>
                            <td>2++</td>
                            <td>SD-130202032</td>
                            <td>罐头菠萝片</td>
                            <td>822g*24瓶/箱</td>
                            <td>12</td>
                            <td>瓶</td>
                            <td>822</td>
                            <td>1232</td>
                            <td>2019/5/20</td>
                            <td>2021/5/20</td>
                        </tr>
                    </tbody>
                </table>
                <div class="lcItem_b_b">
                    <div class="lcItem_b_bDivItem">
                        <div>
                            运费应收:
                            <span>0.00</span>
                        </div>
                        <div>
                            装卸应收:
                            <span>0.00</span>
                        </div>
                        <div>
                            分拣应收:
                            <span>0.00</span>
                        </div>
                        <div>
                            运费应付:
                            <span>0.00</span>
                        </div>
                        <div>
                            装卸应付:
                            <span>0.00</span>
                        </div>
                        <div>
                            分拣应付:
                            <span>0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="docs-pictures clearfix">
        <img data-original="images/tibet-1.jpg" style=" display: none; " id="top1" src="http://www.arapnet.com/lcimg//11/37/11_37_20190524091717_XloenQ.jpg" alt="Cuo Na Lake">查看回单
        <img data-original="images/tibet-1.jpg" style=" display: none; " src="http://www.arapnet.com/lcimg//11/37/11_37_20190524091717_XloenQ.jpg" alt="Cuo Na Lake">
        <img data-original="images/tibet-2.jpg" style=" display: none; " src="http://www.arapnet.com/lcimg//11/37/11_37_20190522202033_ILaNZy.jpg" alt="Tibetan Plateau">
        <img data-original="images/tibet-3.jpg" style=" display: none; " src="http://www.arapnet.com/lcimg//11/37/11_37_20190522202026_O0YTiR.jpg" alt="Jokhang Temple">
    </div>
</body>
</html>
<script type="text/javascript" src="~/source/assets/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="~/source/assets/js/viewer.min.js"></script>
<script>

    $("#showImage").click(function () {
        $('#top1').click();
    });

    $('.docs-pictures').viewer("data-original");

</script>