@using Entity.ViewModel;
@{
    ViewBag.Title = "修改密码";
  
    UserEntity user = (UserEntity)ViewBag.CurrentUser;

}
<form class="form-horizontal">
    <div class="row-fluid" style="margin-top:30px">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <i class="icon-list-alt"></i><h5>修改密码</h5>
            </div>
            <div class="widget-body" style="height:auto;">
                <div class="widget-forms clearfix">
                    <input type="hidden" id="UserID" name="UserID" value="@user.UserID">
                    <div class="control-group">
                        <label class="control-label">用户名</label>
                        <div class="controls">
                            <input class="span5" type="text" disabled id="UserName" name="UserName" maxlength="50" value="@user.UserName">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">原密码</label>
                        <div class="controls">
                            <input class="span5" type="password" id="opwd" name="opwd" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">新密码</label>
                        <div class="controls">
                            <input class="span5" type="password" id="npwd" name="npwd" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">重复新密码</label>
                        <div class="controls">
                            <input class="span5" type="password" id="npwd2" name="npwd2" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-footer">
                <button class="btn btn-primary" type="button" id="save">保存</button>
            </div>
        </div>
    </div>
</form>
    @section Footer{
        <script type="text/javascript">
            var elemnets = {
                ids: ["opwd", "npwd", "npwd2"],
                methods: [
                    {
                        required: true,
                        messages: ["请输入原密码", "", "", ""]
                    },
                    {
                        required: true,
                        messages: ["请输入新密码", "", "", ""]
                    },
                    {
                        required: true,
                        messages: ["请再次输入新密码", "", "", ""]
                    }
                ]
            };
            function checkpwd() {
                var flg = false;
                $.ajax({
                    url: "CheckPwd",
                    type: 'POST',
                    async: false,
                    data: { oldPwd: $("#opwd").val() },
                    success: function (data) {
                        if (data == "F") {
                            $("#opwd").removeClass("error").next(".verror").remove();
                            $("#opwd").addClass("error").after('<span class="help-inline verror" style="color:red">您输入的原密码不正确</span>');
                        }

                        flg= data == "T";
                    }
                });

                return flg;
            }
            $(document).ready(function () {
                valid.init(elemnets);
                $("#save").click(function () {

                    if ($("#npwd").val() != $("#npwd2").val()) {
                        alert("两次输入的新密码不一致，请重新输入");
                    }
                    else {
                        if (valid.validate() && checkpwd()) {
                            $.ajax({
                                url: "ModifyPassword",
                                type: 'POST',
                                async: false,
                                data: { npwd: $("#npwd").val() },
                                success: function (data) {
                                    if (data == "T") {
                                        alert("修改密码成功");
                                        window.location.reload();
                                    }
                                    else {
                                        alert("修改失败，请联系技术人员");
                                    }
                                }
                            });
                        }
                    }
                });
            })
        </script>
    }
